<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Pedidos</h4>
                        <h5 class="card-subtitle">Esta semana</h5>
                    </div>
                    <div class="ml-auto d-flex no-block align-items-center">
                        <ul class="list-inline font-12 dl m-r-15 m-b-0">
                            <li class="list-inline-item text-info"><i class="fa fa-circle"></i> Creados</li>
                            <li class="list-inline-item text-primary"><i class="fa fa-circle"></i> Entregados</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div style="height: 300px;">
                            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Estadisticas</h4>
                <div class="feed-widget">
                    <ul class="list-style-none feed-body m-0 p-b-20">
                        <li class="feed-item">
                            <div class="feed-icon bg-info"><i class="far fa-bell"></i></div>Pedidos solicitado &nbsp; <strong>{{estadisticas.pedidos_activos}} </strong>  <span class="ml-auto font-12 text-muted">Justo Ahora</span></li>
                        <li class="feed-item">
                            <div class="feed-icon bg-success"><i class="ti-server"></i></div>Total facturado &nbsp;<strong>{{estadisticas.total_venta}} </strong>  <span class="ml-auto font-12 text-muted">Justo Ahora</span></li>
                        <li class="feed-item">
                            <div class="feed-icon bg-warning"><i class="ti-shopping-cart"></i></div>Productos creados &nbsp;<strong>{{estadisticas.productos}} </strong>  <span class="ml-auto font-12 text-muted">Justo Ahora</span></li>
                        <li class="feed-item">
                            <div class="feed-icon bg-danger"><i class="ti-user"></i></div>Usuarios creados &nbsp;<strong>{{estadisticas.usuario}} </strong>   <span class="ml-auto font-12 text-muted">Justo Ahora</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title">Visualiza los pedidos</h4>
                        <h5 class="card-subtitle">Pedidos de Hoy</h5>
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                             <button class="btn btn-sm btn-primary" (click)="getPedidosCreados()">Refrescar</button>
                        </div>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Cliente</th>
                            <th class="border-top-0">Telefono</th>
                            <th class="border-top-0">Fecha</th>
                            <th class="border-top-0">Estado</th>
                            <th class="border-top-0">Total</th> 
                            <th class="border-top-0">Repartidor</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidos">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="m-r-10"><a class="btn btn-circle btn-info text-white">{{pedido.id_pedido}}</a></div>
                                    <div class="">
                                        <h4 class="m-b-0 font-16">{{pedido.nombres |uppercase}}</h4>
                                    </div>
                                </div>
                            </td>
                            <td>{{pedido.telefono}}</td>
                            <td>{{pedido.fecha | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <label class="label label-success" [ngClass]="{'label-danger': pedido.id_estado==1 , 'label-warning':pedido.id_estado==3}">{{pedido.descripcion}}</label>
                                
                            </td>
                            <td>L {{pedido.total | number:'1.2-2'}}</td>
                            <td>
                                <select
                                (change)="asignarRepartidor(pedido.id_usuario_repartidor , pedido.id_pedido)"
                                class="form-control"  [(ngModel)]="pedido.id_usuario_repartidor">
                                    <option [value]="repartidor.id_usuario" *ngFor="let repartidor of repartidores">{{repartidor.nombres | uppercase}}</option>
                                </select>
                            </td>
 
                        </tr>
 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
 